<% provide(:title, "#3") %>
   <div id="contents">
     <div id="date_info">
      <h3>日程</h3>
      <p>２月２４日 ９：３０～１２：３０
       　　<br>２５日 ９：３０～１２：３０
       　　<br>２６日 １３：００～１７：００
       
       <br>・インターンの内容
       <br>・最終日にプレゼンをしてもらいます。</p>
     </div>
     <div id="held">
      <h3>開催方法</h3>
      <p>ZOOM</p>
     </div>
     <div id="number_of_people">
      <h3>人数</h3>
      <p>10人</p>
     </div>
    </div>
    <div id="scroll-nav" class="scroll_3">
     <i class="fas fa-angle-double-up fa-5x"></i>
     <p>スクロール<br>エントリーページ</p>
    </div>