<% provide(:title, "#3") %>
   <div class="contents">
     <div id="date_info">
      <div id="info_left">
       <h3>日程</h3>
       <p>2月24日 9:30~12:30
       <br>25日9:30~12:30
       <br>26日 13:00~17:00
       </p>
       <p>・インターンの内容
       <br>・最終日にプレゼンをしてもらいます。
       </p>
      </div>
     
      <div id="info_right">
       <div id="held">
        <h3>開催方法</h3>
        <p>ZOOM</p>
       </div>
       <div id="number_of_people">
        <h3>人数</h3>
        <p>10人</p>
       </div>
      </div>
     </div>
   </div>
     
   <div id="scroll-nav" class="scroll_3">
    <a href="/entry">
     <i class="fas fa-angle-double-up fa-4x"></i>
     <p>スクロール<br>エントリーページ</p>
    </a>
   </div>