<% provide(:title, "#4") %>
<div id="last_message">
  <p>人と同じジャンプをするんじゃなくて、しっかりしゃがんで、力を蓄えたうえで大きく飛んでいくための踏み台にしていただければと思います。
      楽して高く飛ぶことなんてできません、大きく飛びたければ今  動きましょう。</p>
 </div>
 <a href="/form" class="entry-button">
   <button type="button" id="entry_button">
    <p>エントリー</p>
    </button>
 </a>