<% provide(:title, "#1") %>
    <div class="contents">
      <h2 id="title">知らない、って怖い</h2>
      <p id="message">まずは自己分析やっとこう、みんなが言ってるから合説行こう、親が大手に行けっていうから大手の選考受けようってなってませんか？
        
      どういう人になりたいか、どういう暮らしをしたいか、その中心にいるのは間違いなく自分であるはず。なのに、だれかが作った判断軸の上で表面的な就活をしてる学生が大半です。
     
      なぜこんなことが起きるのかというと理由は一つで、「知らない」ことが多すぎるからです。仕事について、働き方について、自分について。最後に「自分がしたいのはこんな暮らしじゃない」と嘆くのは嫌ですよね。
      </p>
    </div>
    <div id="scroll-nav" class="scroll_1">
      <a href="/second">
       <i class="fas fa-angle-double-up fa-4x"></i>
       <p>スクロール<br>SORANIKEのインターン</p>
      </a>
    </div>
  