<% provide(:title, "#5") %>
<div id="forms">

     <div id="name">
      <h2>名前</h2>
      <input type="text" placeholder="名字　名前">
     </div>

     <div id="grade">
      <h2>学年</h2>
      <select name="grade">
       <option value="freshman">大学1年</option>
       <option value="sophomore">大学2年</option>
       <option value="junior">大学3年</option>
       <option value="senior">大学4年</option>
       <option value="other">その他</option>
      </select>
     </div>

     <div id="college">
      <h2>大学名</h2>
      <input type="text" placeholder="大学名">
     </div>

     <div id="email">
      <h2>メールアドレス</h2>
      <input type="email" placeholder="メールアドレス">
     </div>
    
    </div>
    <div id="submit">
     <input type="submit" value="送信する">
    </div>