<% provide(:title, "#2") %>
    <div class="contents">
       <h2 id="title">ぜひ踏み台に</h2>
        <p id="message">
          多くの企業が
          ・自社への本採用目的
        ・スキルがつかない雑務（ほぼアルバイト）
        寄りなインターンを受け入れている中で、弊社のインターンシップは
        採用目的なし、戦力としてのアサインを掲げています。
        
        自分が本当にやりたい仕事って、どんな環境なら輝けるのか、どんな仕事があるのかを知っていただくことができる内容です。戦力としてのアサインであるため、もちろん多くの失敗、挫折経験を伴います。机上の空論ではなく、頭と体をフルに使って、自分を知る実体験が手に入ります。
      </p>
    </div>
    <div id="scroll-nav" class="scroll_2">
      <a href="/contents">
       <i class="fas fa-angle-double-up fa-4x"></i>
       <p>スクロール<br>日程・詳細</p>
      </a>
    </div>